
body{
    background-color: #740406;
    background-image: url(img/Group\ 1.png) ;
   background-repeat: no-repeat;
   background-size: 120%;
}
h1{
    font-family: 'poppins';
    color: white;
    font-weight: 100;
    font-size: 32px;
    margin-top: 115px;
    margin-left: 85px;
}

p{
    font-family: 'poppins';
    color: rgb(189, 184, 184);
    font-weight: 100;
    font-size: 16px;
    margin-top: 26px;
    margin-left: 38px;
}

.botton-oval {
    display: inline-block;
    padding: 30px 50px;
    background-color: #ffffff;
    color: #740406;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'poppins';
    font-weight: 100;
    margin-top: 190px;
    margin-left:100px;
}