
body{
    background-image: url(img/Group\ 1.png) ;
   background-repeat: no-repeat;
}
h1{
    font-family: 'poppins';
    color: white;
    font-weight: 100;
    font-size: 32px;
    margin-top: 115px;
    margin-left: 68px;
}